.kent{
    background: url(https://www.funnyart.club/uploads/posts/2022-01/1641462933_15-www-funnyart-club-p-besshovnie-foni-dlya-saitov-15.jpg) center center no-repeat;
    background-size: cover;
}
.bum{
    font-size:x-large;
    margin:0 25% 0 25%;
    width:50%;
    text-align: center;
}